body {
  margin: unset;
  font-family: 'Montserrat', sans-serif;
}

main {
  background-color: #a8e6cf;
  height: 100vh;
}

#c-main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #263642;
}

#c-main {
  display: flex;
  justify-content: space-around;
}

.c-app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.logo {
  height: 300px;
  box-shadow: 1px 1px 51px -15px #243244;
  transition: 0.5s;
}

.c-app-logo {
  display: flex;
  justify-content: center;
}

.logo:hover {
  transform: scale(.9);
}

#img-first-logo {
  border-radius: 5rem;
}

#img-second-logo {
  border-radius: 5rem;
}

#img-third-logo {
  border-radius: 5rem;
}

.c-title-app, .c-details-app  {
  text-align: center;
  color: #263642;
}

.c-details-app {
  width: 80%;
  align-self: center;
}
